<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/form-with-binding" routerLinkActive="active">Form with states</a>
    </li>
    <li>
      <a routerLink="/form-with-references" routerLinkActive="active">Form with references</a>
    </li>
    <li>
      <a routerLink="/server-table" routerLinkActive="active">Server table</a>
    </li>
    <li>
      <a routerLink="/big-table" routerLinkActive="active">Big table</a>
    </li>
  </ul>
</nav>
