<button (click)="moveTableElement()">Move row</button>
<button (click)="toggleTable()">{{ isVisible ? 'Hide' : 'Show' }} table</button>
<button (click)="changeTexts(true)">Change all texts</button>
<button (click)="changeTexts()">Change partially text</button>
<button (click)="removeOrAddRow(true)">Remove row text</button>
<button (click)="removeOrAddRow()">Add row</button>
<div *ngIf="tableData" class="table-wrapper">
  <table *ngIf="isVisible">
    <tbody>
      <tr *ngFor="let row of tableData; let rowIndex = index">
        <td *ngFor="let cell of row; let cellIndex = index">
          <div *ngIf="cell === true || cell === false">
            <input type="checkbox" [(ngModel)]="tableData[rowIndex][cellIndex]" />
          </div>
          <div *ngIf="isString(cell) && cell.includes('.png')">
            <img [src]="cell" alt="js logo">
          </div>
          <div *ngIf="!(isString(cell) && cell.includes('.png')) && !(cell === true || cell === false)">
            {{cell}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<p *ngIf="!tableData">loading...</p>
